.btn-outline-light {
    color: #131314;
    border-color: #cdcdcd;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 43rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.dropdown-menu-right {
    left: 0;
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 43rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #FCA8A8;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.textoEstilos {
    clear: left;
    text-align: left;
    vertical-align: middle;
    line-height: 25px;
}

.imagenEstilos {
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
}

.carrusel {
    margin-left: 5px;
    display: inline-block;
    text-align: left;
}

.carousel-caption {
    position: absolute; 
    left:0.2%;
    right:52%;

    text-align: left;
   /*x background-color: rgba(0, 0, 0, 0.5); /* Añadir para conseguir el fondo con opacidad */
}